@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap');

:root {
    --ff-primary: 'Roboto', monospace;
    --ff-secondary: 'Roboto', sans-serif;
    --clr-white: #fff;
    --clr-black: #000000;
    --clr-lessblack: #222222;
    --clr-grey: #333333;
    --clr-ivory: #fdf9f0;
    --clr-offwhite: #fdfcfa;
    /*--clr-navy: #1d3557;
    --clr-blue: #457b9d;
    --clr-light-blue: #a8dadc;
    --clr-light-green: #f1faee;
    --clr-red: #e63946; */
    --clr-dark-grey: #2C3333;
    --clr-teal: #395B64;
    --clr-light-blue: #A5C9CA;
    --clr-light: #E7F6F2;
    --clr-purple: rgb(123, 31, 162);
    --clr-violet: rgb(103, 58, 183);
    --clr-pink: rgb(244, 143, 177);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes scale {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

body {
    background-color: var(--clr-black);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

/* Affects all elements */
* {
    /* Prevents sections expanding when using padding */
    box-sizing: border-box;
}

/* ----- TYPOGRAPHY SECTION ----- */

h1,
h2,
h3,
caption,
th, form {
    font-family: var(--ff-primary);
    line-height: 1.5;
    margin: 0;
    color: white;
}

td,
p {
    font-family: var(--ff-secondary);
    line-height: 1;
    margin: 0;
    color: white;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

/* ----- NAV SECTION ----- */

nav {
    display: flex;
    width: 100%;
    height: 100px;
    background: transparent;/*linear-gradient(var(--clr-teal), var(--clr-light-blue)); */
    color: var(--clr-white);
}

nav>.nav-section {
    padding: 2rem 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   
}

#nav-name-section {
    flex-grow: 1;
    justify-content: center;
    padding-left: 0.05px;
}

#nav-name-section>h1 {
    white-space: nowrap;
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            var(--clr-purple),
            var(--clr-violet),
            var(--clr-pink),
            var(--clr-purple));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-link-section {
    justify-content: center;
    flex-basis: calc(100% / 2);
    gap: 3vw;
    padding-left: 0.05px;
    white-space: nowrap;
}

#nav-link-section>h2 {
    transition: all .025s ease-in-out .025s;
}

#nav-link-section>h2:hover {
    animation: background-pan 3s linear infinite;
        background: linear-gradient(to right,
                var(--clr-purple),
                var(--clr-violet),
                var(--clr-pink),
                var(--clr-purple));
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}



/* ----- DASHBOARD SECTION ----- */

.dashboard-frame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;
}

.dashboard-table {
    table-layout: fixed;
    overflow: auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid var(--clr-grey);
    margin: auto;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 35%;
  }
  
  thead th:nth-child(3) {
    width: 40%;
  }

  thead th:nth-child(3) {
    width: 15%;
  }

.dashboard-table > td {
    min-width: 300px;
}

th,
td {
  padding: 20px;
}

tbody td {
    text-align: center;
}

.assignment-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#assignment-submission-form {
    color: white;
}

form > input { 
    background: linear-gradient(to left, var(--clr-violet), var(--clr-pink));
    color: white;
}
