<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>login</title>
</head>

<body>

    <nav>

        <div id="nav-name-section" class="nav-section">
            <h1>ASSIGNMENT SUBMISSION SYSTEM</h1>
        </div>

        <div id="nav-link-section" class="nav-section">
            <a href="/student/register" class="nav-link">REGISTER</a>
        </div>

    </nav>

    <main>
        <form id="login-form" method="POST" action="/student/login" 
            modelAttribute="student" enctype="multipart/form-data">
            <input type="text" name="email" placeholder="email address"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit" class="button-submit" role="button">submit</button>
        </form>
    </main>

</body>