<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>assignment-view</title>
</head>

<body>

    <nav>

        <div id="nav-name-section" class="nav-section">
            <h1>ASSIGNMENT SUBMISSION</h1>
        </div>

        <div id="nav-link-section" class="nav-section">
            <h2><a href="/assignments" class="nav-link">DASHBOARD</a></h2>
            <h2><a href="/logout" class="nav-link">LOGOUT</a></h2>
        </div>

    </nav>

    <main>
        <div id="success-title">
            <h1>Submission Successful</h1>
        </div>

        <article id="submission-success-article">
            <h2 class="success-title">Your submission reference is: </h2>
            <h2 class="success-details" th:text="${submission.id}">Your submission reference is: </h2>
            <h3 class="success-title">Submission Title:</h3>
            <h3 class="success-details" th:text="${submission.title}">Title: </h3>
            <h3 class="success-title">Submission Description:</h3>
            <h3 class="success-details" th:text="${submission.description}">description: </h3>
        </article>

        <form id="return-btn" action="/assignments">
            <button class="button-submit">return to assignment view</button>
        </form>
    </main>

    <script th:src="@{/js/app.js}"></script>

</body>

</html>